[submodule "lib/hxods"]
	path = lib/hxods
	url = git://github.com/ncannasse/hxods.git
[submodule "lib/mconsole"]
	path = lib/mconsole
	url = git://github.com/dionjwa/mconsole.git
[submodule "lib/flambe"]
	path = lib/flambe
	url = git@github.com:dionjwa/flambe.git
	branch = catapult
[submodule "lib/nodejs_std"]
	path = lib/nodejs_std
	url = git@github.com:dionjwa/nodejs-std.git
